body{
	background-color: #F0FFFF;
	color: #000000;
	font-family: Georgia, serif;
	font-size: 18 px;
	text-indent: 4px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right:10%;
	text-align: left;
}

h1{
	font-size: 36 px;
	color: #001a1a;
	margin-top: 30px; 
}

h2{
	font-size: 24 px;
	color: #004d4d;
	margin-top: 30px; 
}

h3{
	font-size: 20 px;
	color:	#008080;
	margin-top: 30px; 
}

p{
	line-height: 24px;   
  	margin-bottom: 30px; 
}