#map {
	width: 100%;
}
/* The width is the width of the web page */

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
 /* Makes the sample page fill the window. */


