html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

h1{
	size: 12px;
	font-style: bold;
}

p{
	size: 10px;
}

#map {
	width: 100%;
	height: 100%;
}
/* The width is the width of the web page */

