body{
	background-color: #D0ECE7  ;
	color: #1C2833;
	font-size: 18px;
	font-family: Cambria;
	text-indent: 4px;
	text-align: center;
}

h1{
	font-size: 36px;
	font-weight: 700;
	text-decoration-line: underline;
}

h2{
	font-size: 30px;
	font-weight: 700;
}


#profile_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

div.indent{
	margin-left: 20%;
	margin-right:20%;
	text-align: left;
}